
/* Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600&display=swap');

/*Variables for CSS */

:root {
    --header-height: 3rem;
    /* colors */

    --hsl-color: 250;

    /* hsl mode */

    --first-color:  hsl(var(--hsl-color), 69%, 61%);
    --first-color-second: hsl(var(--hsl-color), 69%, 61%);
    --first-color-alt: hsl(var(--hsl-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hsl-color), 92%, 85%);
    --title-color: hsl(var(--hsl-color), 8%, 15%);
    --text-color : hsl(var(--hsl-color), 8%, 45%);
    --text-color-light: hsl(var(--hsl-color), 8%, 65%);
    --input-color: hsl(var(--hsl-color), 70%, 96%);
    --body-color: hsl(var(--hsl-color), 60%, 99%);
    --container-color: #fff;

    /* font and topography*/

    --body-font :font-family: 'Nunito Sans', sans-serif;

    /* 1 rem = 16px */

    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .945rem;
    --small-font-size: .813rem;
    --smaller-font-size: .72rem;
    --smallest-font-size:.60rem;

    /* font weight */

    --font-medium: 400; 
    --font-semi-bold: 600;

    /* margins bottom */

    --mb25: .25rem;
    --mb5: .5rem;
    --mb75: .75rem;
    --mb1: 1rem;
    --mb15: 1.5rem;
    --mb2: 2rem;
    --mb250: 2.5rem;
    --mb3: 3rem;

    /* z-index */

    --z-tooltip :10;
    --z-fixed: 100;
    --z-modal: 1000;

    /* font size for large devices */
}

    @media screen and (min-width: 968px) {
        :root {

    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .885rem;
    --smaller-font-size: .800rem;
        }
        
    }

    /* dark theme changes */

    body.dark-theme{
        /* hsl mode */

    
    --first-color-second: hsl(var(--hsl-color), 30%, 8%);
   
    
    --title-color: hsl(var(--hsl-color), 8%, 95%);
    --text-color : hsl(var(--hsl-color), 8%, 75%);
    
    --input-color: hsl(var(--hsl-color), 29%, 16%);
    --body-color: hsl(var(--hsl-color), 28%, 12%);
    --container-color: hsl(var(--hsl-color), 29%, 16%);
    }

    /* button for dark theme */

    .nav__btns{
        
        display: flex;
        align-items: center;
    }
.change-theme{
    font-size: 1.25rem;
    color:var(--title-color);
    margin-right: var(--mb1);
    cursor: pointer;

}

.change-theme:hover{
    color:var(--first-color);
}
    /* BASE */
    



*{
    box-sizing: border-box;
    padding:  0;
    margin: 0;
  }
  html{
      scroll-behavior: smooth;
  }

  body{
      margin:0 0 var(--header-height) 0;
      font-family: var(--body-font);
      font-size: var(--normal-font-size);
      background-color: var(--body-color);
      color: var(--text-color)
  }

  h1,h2,h3,h4{
      color: var(--title-color);
      font-weight: var(--font-semi-bold);
  }
  ul{
      list-style: none;
  }

  a{
      text-decoration: none;
  }
  img{
      max-width: 80%;
      height: auto;
  }

  /* CSS classes */

  .section{
      padding: 2rem 0rem 4rem;
      

  }

  .section__title{
      font-size: var(--h1-font-size);
  }

  .section__subtitle{
      display: block;
      font-size: var(--small-font-size);
      margin-bottom: var(--mb3);
  }

  .section__title,
  .section__subtitle{
      text-align: center;
  }
  .ug{
      text-align: center;
      padding-right: 3rem;
      font-size: var(--h3-font-size);
      margin-top: var(--mb5);
  }

  /*layout*/


  .container{
    max-width: 768px;
    margin-left:var(--mb5);
    margin-right: var(--mb5);
  }

  .grid{
      display: grid;
      gap: 1.5rem;
      
  }
  .header{
      width: 100%;
      position: fixed;
      bottom: 0;
      left:0;
      z-index: var(--z-fixed);
      background-color: var(--body-color);
  }
 .nav{
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
    max-width: 968px;
  }

  .nav__logo,
  .nav__toggle{
      color: var(--title-color);
      font-weight: var(--font-medium);
  }
  .nav__logo:hover{
      color: var(--first-color);
  }
  .nav__toggle{
      font-size: 1.1rem;
      cursor: pointer;
      padding-right: 0.5rem;
  }

  .nav__toggle:hover{
        color: var(--first-color);
  }
   @media screen and (max-width: 767px) {
      .nav__menu{
          position: fixed;
          bottom: -100%;
          left: 0;
          width:100%;
          background-color: white;

          padding: 2rem 1.5rem 4rem;
          box-shadow: 0 -1px 4px rgba(0,0,0,.15);
          border-radius: 1.5rem 1.5rem 0 0 ;
          transition: .3s

      }
      
  }
  .nav__list{
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
  }

  .nav__link{
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: var(--small-font-size);
      color: var(--title-color);
      font-weight: var(--font-medium);
  }

  .nav__link:hover{
      color: var(--first-color);
      text-decoration: none;
  }

  .nav__icon{
      font-size: 1.2rem;

  }

  .nav__toggle{
        
  }

  .nav__close{
      position: absolute;
      right: 1.3rem;
      bottom: .25rem;
      font-size:1.5rem;
      cursor:pointer;
      color:var(--first-color);

  }

  .nav__close:hover{
      color: var(--first-color-alt);
  }

  .show-menu{
      bottom: 0;
  }

  .scroll-header{
      box-shadow: 0 -1px 4px rgba(0,0,0,.15);

    }
  /*Home*/

  .home__container{
      gap: 1rem;
  }

  .home__content{
      grid-template-columns: .5fr 3fr;
      padding-top: 3.5rem;
      align-items: center;
  }

  .home__social{
      grid-template-columns: max-content;
      row-gap: 1rem;
      display: grid;

  }
  .home__social-icon{
      font-size: 1.25rem;
      color: var(--first-color)
  }

  .home__social-icon:hover{
                color: var(--first-color-alt)
  }
.mainimg{
    border-radius: 50%;
    align-content: center;
    
}
  .home__blob{
      width: 200px;
    
      fill: var(--first-color);
  }
  .home__blob-img{
      width: 120px;
      object-fit: contain;
  }
  .home__data{
      grid-column: 1/3;
  }

  .home__title{
      font-size: var(--big-font-size);
  }

  .home__subtitle{
      font-size: var(--h3-font-size);
      color:var(--text-color);
      font-weight: var(--font-medium);
      margin-bottom: var(--mb75);
  }

  .home__desc{
      margin-bottom: var(--mb2);
  }

  .home__scroll{
      display:none
  }

  .home__scrollbtn{
      color: var(--first-color);
      transition: .3s;
  }
 

  .home__scrollbtn:hover{
    transform: translateY(.25rem);
  }

  .home__scroll-mouse{
      font-size: 2rem;
  }

  .home__scroll-name{
      font-size: var(--small-font-size);
      color: var(--title-color);
      font-weight: var(--font-medium);
      margin-right: var(--mb25);
  }

  .home__scroll-down{
        font-size: 1.25rem;
  }

  .button{
      display: inline-block;
      background-color: var(--first-color);
      color: #fff;
      padding: 1rem;
      border-radius: .5rem;
      font-weight: var(--font-medium);
  }
  .button:hover{
      color: var(--first-color-lighter);
      text-decoration: none;;
  }

  .button__icon{
      font-size: 1.25rem;
      margin-left: var(--mb5);
      transition: .3s;
  }

  .btn-flex{
      display: inline-flex;
      align-items: center;
      text-decoration: none;;
  }
  .about__img{
      align-self: center;
      width:200px;
      border-radius: .5rem;
    justify-self: center;
   

  }

  .about__description{
      text-align: center;
      margin-bottom: var(--mb250);
  }

  .about__info{
      display:flex;
      justify-content: space-evenly;
      margin-bottom: var(--mb250);
  }

  .about__info-title{
     font-size: var(--h2-font-size);
      font-weight: var(--font-semi-bold);
      color: var(--title-color);
  }
  .about__info-name{
      font-size: var(--smaller-font-size);
  }
  
  .about__info-title,
  .about__info-name{
        display: block;
        text-align: center;
  }
  
  .about__buttons{
      display: flex;
      justify-content: center;
      text-decoration: none;
  }

  /*skills*/

  .skills__container{
      row-gap: 0;
  }

  .skills__header{
      display: flex;
      align-items: center;
      margin-bottom: var(--mb25);
      cursor:pointer
  }

  .skills__icon,
  .skills__arrow{
      font-size:1.5rem;
      color: var(--first-color);
  }

  .skills__icon{
      margin-right: var(--mb75);
  }

  .skills__title{
      font-size:var(--h3-font-size);

  }

  .skills__subtitle{
      font-size: var(--small-font-size);
      color:var(--text-color-light);
  }

  .skills__titles{
      justify-content: space-between;
      display: flex;
      margin-bottom: var(--mb5);
  }

  .skills__arrow{
      margin-left: auto;
      transition: .4s;
      
  }

  .skills__name{
      font-size: var(--normal-font-size);
      font-weight: var(--font-medium);
  }

  .skills__bar,
  .skills__percentage{
      height: 5px;
      border-radius: .25rem;
  }

  .skills__bar{
      background-color: var(--first-color-lighter);
    
  }


    .skills__list{
            row-gap: 1.5rem;
            padding-left: 2.7rem;
    }


  .skills__percentage{
      display: block;
      background-color: var(--first-color);

  }

  .skills__java{
      width: 90%;
  }

  .skills__python{
      width: 75%;
  }

  .skills__mysql{
      width: 70%;
  }

  .skills__oracle{
      width:80%;
  }
  .skills__sf{
      width:60%;
  }

  .skills__html{
      width: 70%;
  }

  .skills__css{
      width: 60%;
  }

  .skills__js{
      width: 60%;
  }

  .skills__close .skills__list{
      overflow: hidden;
      height:0
  }

  .skills__open .skills__list{
      height: max-content;
      margin-bottom: var(--mb25);
  }

  .skills__open .skills__arrow{
      transform: rotate(-180deg);
  }

  /*qualification*/

 .qualification__tabs{
      display: flex;
      justify-content: space-evenly;
      margin-bottom: var(--mb2);
      
      gap: 10rem;
      
      
  }

  .qualification__table{

  }

  .qualification__button{
      font-size: var(--h3-font-size);
      font-weight: var(--font-medium);
      cursor: pointer;
      
  }

  .qualification__button:hover{
      color:var(--first-color);
  }

  .qualification__icon{
      margin-right: var(--mb25);
      font-size: 1.8rem;
      
  }

  .qualification__content{
      display:flex;
    
      gap:12rem;
      

      
  }

  .qualification__subtitle{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
  }

  .cal{
      font-size: var(--smallest-font-size);
  }

 /* .qualification__calender{
      font-size: var(--smaller-font-size);
      color: var(--text-color-light);
  }*/

  /*portfolio*/

  .portfolio__container{
      overflow: initial;
  }

  .portfolio__content{
      padding: 0 1.5rem;
  }

  .portfolio__img{
      justify-self: center;
      width: 265px;
      border-radius: .5rem;;
  }

  .portfolio__title{
      font-size: var(--h3-font-size);
      margin-bottom: var(--mb5);
  }

  .portfolio__description{
      margin-bottom: var(--mb75);
  }

  .swiper-button-next::after,
  .swiper-button-prev::after{
        display:none;
  }

  .swiper-portfolio-icon{
      font-size:2rem;
      color:var(--first-color);
  }

  .swiper-button-next{
      left: -.5rem;
  }

  .swiper-button-prev{
     left : -.5rem;
  }

  .swiper-container-horizontal > .swiper-pagination-bullets{
      bottom :-2.5rem;
  }

  .swiper-pagination-bullet-active{
      background-color: var(--first-color);
  }

  .swiper-button-next,
  .swiper-button-prev,
  .swiper-pagination-bullet{
      outline: none;
  }

  /*contact me*/

  .contact__container{
      row-gap: 3rem;
  }

  .contact__info{
      display: flex;
      margin-bottom: var(--mb2);
  }

  .contact__icon{
      font-size: 2rem;
      margin-right: var(--mb75);
      color:var(--first-color);
  }

  .contact__title{
      font-size: var(--h3-font-size);
      font-weight: var(--font-semi-bold);
  }

  .contact__subtitle{
      font-size: var(--smaller-font-size);
      color:var(--text-color-light);


  }

  .contact__content{
      background-color: var(--input-color);
      border-radius: .5rem;
      padding: .75rem 1rem .25rem;
  }

  .contact__label{
      font-size: var(--smaller-font-size);
      color:(--title-color);
  }

  .contact__input{
      width: 100%;
      background-color: var(--input-color);
      color: var(--text-color);
      font-family: var(--body-font);
      font-size: var(--normal-font-size);
      border:none;
      outline:none;
      padding: .25rem .5rem .5rem 0;

  }

  /*footer*/

  .footer{
      padding-top:2rem;
  }

  .footer__container{
        row-gap: 3.5rem;
        
        
  }

  .footer__bg{
      background-color: var(--first-color-second);
      padding: 2rem 0 3rem;
  }

  .footer__title{
      font-size:var(--h1-font-size);
      margin-bottom: var(--mb25);

  }

  .footer__subtitle{
      font-size: var(--small-font-size);
  }
.footer__links{
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.footer__link:hover{
    color:var(--first-color-lighter);
    text-decoration: none;;
}
.footer__social{
    font-size: 1.25rem;
    margin-right: var(--mb15);
    text-decoration: none;
}

.footer__social:hover{
    color:var(--first-color-lighter);
    text-decoration: none;
}

.footer__copy{
    font-size: var(--smaller-font-size);
    text-align: center;
    color:var(--text-color-light);
    margin-top: var(--mb3);
}

.footer__title,
.footer__subtitle,
.footer__link,
.footer__social{
    color: #fff;
    
}

.scroll__up{
    position:fixed;
    right: 1rem;
    bottom: -20%;
    background-color: black;
    opacity: .8rem;
    padding:0 .3rem;
    border-radius: .4rem;
    z-index: var(--z-tooltip);
    transition: .4s;
    color: white;
}

.scroll__up:hover{
    color: var(--first-color-alt);
}

.scroll__icon{
    font-size: 1.5rem;
    color: #fff;;
}
.show-scroll{
    bottom:5rem;
}

/* device compatability*/

@media screen and (max-width: 350px) {

    .footer__container{
        margin-right: 0;
        margin-left: 0;
    }
    
    .container{
      
        margin-right: var(--mb1);
    }


    .nav__menu{
        padding:2rem .25rem 4rem;
    }
    .nav__list{
        column-gap:0;
    }
    .nav__toggle{
            
    }
    .home__content{
        grid-template-columns: .25fr 3fr;
    }

    .mainimg{
        width:180px;
    }

    .skills__title{
        font-size: var(--normal-font-size);
    }

  .home__content{
    grid-template-columns: .25fr 3fr;
}

.qualification__button{
    font-size: var(--normal-font-size);
}

.qualification__course{
        font-size: var(--normal-font-size);
    }

    .qualification__subtitle{
        font-size: var(--smaller-font-size);
    }
    .qualification__title{
        font-size: var(--normal-font-size);
    }

    .swiper-button-next{
        padding-left: -5rem;
    }
    .swiper-button-prev{
        padding-right: 6rem;
    }

    .portfolio__img{
        margin-top: var(--mb25);
        width:100px;
    }

    .portfolio__title{
        font-size: var(--normal-font-size);
    }

    .portfolio__img{
        width:100%;
    }
}
@media  screen  and (min-width:  568px){
    .home__content{
        grid-template-columns: max-content 1fr 1fr;
    }
    .home__data{
        grid-column: initial;
    }
    .home__img{
            order:1;
            justify-self: center;
    }

    .about__container,
    .contact__container,
    .footer__container{
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (min-width: 768px) {
   .container{
       margin-left: auto;
       margin-right: auto;
   }
   
   .body{
       margin: 0;
   }

   .section{
       padding: 6rem 0   2rem;
    
    }

    .section__subtitle{
        margin-bottom: 4rem;
    }

    .header{
        top:0;
        bottom:initial;
    }

    .header,
    .main,
    .footer__container{
        padding: 0 1rem;
    }
    .nav{
        height: calc(var(--header-height)+3rem);
        column-gap: 1rem;;
    }

    .nav__icon,
    .nav__close,
    .nav__toggle{
        display: none;
    }
    .nav__list{
        display:flex;
        column-gap: 2rem;
        margin-top: 1rem;;
    }

    .nav__menu{
        margin-left: auto;
    }

    .change__theme{
        margin:0;
    }

    .home__container{
        row-gap: 5rem;
    }
    .home__content{
        padding-top: 5.5rem;
        column-gap: 2rem;
    }
    .home__scroll{
        display: block;
    }

    .home__scroll-button{
        margin-top: -5rem;;
        margin-left: 3rem;;
    }

    .about__container{
        column-gap: 5rem;
    }
    .about__img{
        width: 350px;
    }
    .about__description{
        text-align: initial;
    }
    
    .about__buttons{
        justify-content: center;
    }
}
@media screen and (min-width: 1024px){

    .header,
    .main,
    .footer__container{
        padding:0;
    }
    .home__social{
        transform: translate(-6rem);
    }

    .home__title{
        font-size: var(--h1-font-size);
    }
    .swiper-portfolio-icon{
        font-size: 3.5rem;
    }

    .contact__form{
        width: 460px;
    }
}
    


